@model System.Security.Principal.IIdentity

@{
    ViewData["Title"] = "UCSB Issue Manager";
}

<div>
    <h1 class="display-4">@ViewData["Title"]</h1>
    @if (@Model.IsAuthenticated)
    {
    <form>
        <div class="form-group row">
            <div class="input-group-prepend">
                <label for="title">Title</label>
            </div>
            <input type="text" class="form-control" id="title" required />
        </div>
        <div class="form-group row">
            <div class="input-group-prepend">
                <label for="description">Description</label>
            </div>
            <textarea class="form-control" id="description" required></textarea>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="status1" name="status1" class="custom-control-input" value="open" checked />
                        <label class="custom-control-label" for="status1">Open</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="status2" name="status1" class="custom-control-input" value="closed" />
                        <label class="custom-control-label" for="status2">Closed</label>
                    </div>
                </div>
            </div>
            <div class="col align-self-end">
                <button disabled type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </form>
    <ul id="task-list" class="list-group">
        <li class="list-group-item">loading...</li>
    </ul>
    }
    else
    {
    <div class="alert alert-primary" role="alert">
        Login or register to manage issues.
    </div>
    }
</div>

@section scripts {

    @if (@Model.IsAuthenticated)
    {
    <script>

    (function( $ ) {
        $.getJSON( 'issue/api/v1/index', data => {
            console.log({data});
        });
    })( jQuery );

    </script>
    }
}
